
.instrument_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    float: left;
    // border: 2px solid #8B0000;
    // background: #8B0000;
    // box-shadow: 4px 4px 8px gold, -4px -4px 8px gold;
    border-radius: 25px;
    padding: 2px 2px;
    margin-left: -1rem;
}

.image1{
    border-radius: 50%;
    display: flex;
    float: right; 
    height: auto; 
    margin-left: 10px; 
    position: fixed; 
    right: 78%;
    top: 320px;
    max-width: 20%;
    box-shadow: 2px 2px 4px gold, -2px -2px 4px gold;
    background: purple;
}

.image2{
    border-radius: 50%;
    display: flex;
    float: right; 
    height: auto; 
    margin-left: 10px; 
    position: fixed; 
    right: 54%;
    top: 320px;
    max-width: 20%;
    box-shadow: 2px 2px 4px gold, -2px -2px 4px gold;
    background: purple;
}

.image3{
    border-radius: 50%;
    display: flex;
    float: right; 
    height: auto; 
    margin-left: 10px; 
    position: fixed; 
    right: 27%;
    top: 320px;
    max-width: 20%;
    box-shadow: 2px 2px 4px gold, -2px -2px 4px gold;
    background: purple;
}

.image4{
    border-radius: 50%;
    display: flex;
    float: right; 
    height: auto; 
    margin-left: 10px; 
    position: fixed; 
    right: 2%;
    top: 320px;
    max-width: 20%;
    box-shadow: 2px 2px 4px gold, -2px -2px 4px gold;
    background: purple;
}

.container {
    position: relative;
    width: 300px;
}

.container:hover .overlay {
    opacity: 0.6;
}

h2{
    font-size:50px;
    line-height: 40px;
    text-align: center;
    padding: 50px 20px 5px 2;
}
