.page {
    background-color: #ddd;
    height: 1000px;
    margin: 2rem auto;
    max-width: 1000px;
    padding: 20px;

    &h1 {
        margin-bottom: 10px;
        text-decoration: underline;
    }
}
