.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    color: white;
    background: #8B0000;
    box-shadow: 4px 4px 8px gold, -4px -4px 8px gold;
    font-size:20px;
    border-radius: 25px;
    text-align:  center;
}

h1 {
    font-size:50px;
    line-height: 40px;
    text-align: center;
    padding: 50px 20px 5px 2;
}

.instrument_name{
    color: gold;
    font-size: 100px;
}

.description{
    color: white;
    font-size: 50px;
}

.famous_artist{
    font-size: 
    35px;
}

