.missions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article{
    text-align: center;
}

video{
    border: 2px gold solid;
    border-radius: 5px;
    background-color: black;
}

.image{
    border-radius: 50%;
    box-shadow: 1px 1px 2px gold, -1px -1px 12px gold;
    background: black;
}
