.missions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content_section{
    display: flex;
    align-items: center;
    padding: 0 1rem 3rem;
    justify-content: space-between;
}

article{
    text-align: center;
}

.nasa_vid_header{
    background-color: rgba(38, 37, 37, 0.4);
    border: 2px solid black;
    border-radius: 5px;
}

video{
    border: 2px gold solid;
    border-radius: 5px;
    background-color: black;
}

.image{
    border-radius: 50%;
    box-shadow: 1px 1px 2px gold, -1px -1px 12px gold;
    background: black;
    max-width: 800px;
    height: auto;
}
