.header{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    background-color: black;
    height: 7rem;
    color: gold;
    font-weight: bold;
}

.navList{
    display: flex;
    justify-content: right;
    width: 100%;
    align-items: center ;
    margin-right: 150px;
    
    & a{
        align-items: center;
        text-decoration: none;
        color: gold;
        font-size: 27px;
        border-radius: 6px;
        display: flex;
        min-width: 75px;
        padding: 2px;
        text-decoration: none;
        margin-left: 2rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    & a:hover{
        transition: .5s;
        font-weight: bold;
        background-color: brown;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline: none;
    }

}