@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

body {
    font-family: 'Delius', cursive;
}

.header{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    background-color: black;
    height: 5rem;
    color: white;
    background: #8B0000;
    box-shadow: 2px 2px 4px gold, -2px -2px 4px gold;

    & h1{
        color: gold;
        margin-left: 11rem;
        align-items: center ;
        margin-right: 1470px;
        border-radius: 6px;
        display: flex;
        min-width: 75px;
        font-size: xx-large;
        position: fixed;
    }
}

.navList{
    display: flex;
    justify-content: right;
    width: 100%;
    align-items: center ;
    margin-right: 60px;
    border-radius: 6px;
    display: flex;
    min-width: 65px;

    & a{
        align-items: center;
        text-decoration: none;
        color: white;
        font-size: 24px;
        border-radius: 6px;
        display: flex;
        min-width: 75px;
        padding: 2px;
        margin-left: 4rem;
        font-family: 'Delius', cursive;
    }
    & a:hover{
        transition: .5s;
        font-weight: bold;
        // background-color: white;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        // overflow: hidden;
        outline: none;
        color: gold;
    }

}
