.footer{
    // display: flex;
    // justify-content: center;
    font-size: 27px;
    font-weight: bold;
    background-color: black;
    color: gold;
    height: 7rem;
    // align-items: center;
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 0;
    right: 0;
}




