.footer{
    display: flex;
    justify-content: center;
    margin: auto;
    // box-shadow: 2px 2px 4px black, -2px -2px -4px black;
    // border-radius: 25px;
    font-size: 23px;
    background: brown;
    color: white;
    height: 5rem;
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%
}




