.footer{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 75%;
}

.socialList{
    display: flex;
    & li{
        align-items: center;
        border: 1px solid black;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0 20px;
        padding: 2px;
    }

    & li:hover{
        background-color: lightblue;
        transition: .5s;
    }
}